[Unit]
Description = Starts the XBMC-ES-Switch program
Requires = systemd-udev-settle.service
After = systemd-udev-settle.service remote-fs.target

[Service]
Type = simple
ExecStart = /usr/bin/xbmc-es-switch

[Install]
WantedBy = multi-user.target
