# XBMC-ES-Switch
# Started at the end of the boot process.
# Works without a connected joystick.

[Unit]
Description = Starts the XBMC-ES-Switch program
After = multi-user.target
Conflicts = xbmc-es-switch-fast.service

[Service]
Type = simple
ExecStart = /usr/bin/xbmc-es-switch

[Install]
WantedBy = multi-user.target
