[Unit]
Description = Starts the XBMC-ES-Switch program
Wants = dev-input-js0.device
After = dev-input-js0.device remote-fs.target

[Service]
Type = simple
ExecStart = /usr/bin/xbmc-es-switch

[Install]
WantedBy = multi-user.target
